*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
header nav{
  position: relative;
}
.navbar-default{
  margin-bottom: 0;
  background: #cc0000;
  border-bottom: 2px solid #888685;
}
.navbar-default .navbar-nav>li>a{
  color: #fff;
}
.navbar-default .navbar-nav>.active>a{
  color: #000;
  background: #fff;
}
@media (max-width: 660px) {
  .logoa{
    margin: auto;
    display: table;
  }
}
//回到顶部
/*回到顶部*/
p#back-to-top {
  position: fixed;
  display: none;
  bottom: 21px;
  right: 0px;
  z-index: 999;
  width: 58px;
  height: 55px;
}

p#back-to-top a {
  text-align: center;
  text-decoration: none;
  color: #d1d1d1;
  display: block;
  width: 64px;
  z-index: 999;
}

p#back-to-top a:hover {
  color: #979797;
}

//登陆
.denluye {
  position: absolute;
  z-index: 999;
  border: 1px solid black;
  border-radius: 3px;
  width: 320px;
  height: 400px;
  display: none;
  right: 10px;
  background: #ececec;
h3{
  border-bottom:solid 2px #ccc;
  padding-bottom: 10px;
  margin-top: 10px;
}
  p{
    margin-bottom: 5px;
  }
}
.linh{
  height: 40px;
  line-height: 40px;
  &:hover{
    text-decoration: none;
  }
}

#huiyvan {
  margin-bottom: 5px;
}

#zhmm {
  margin-left: 5px;
  margin-right: 71px;
}

.cdxla {
  position: relative;
}

.cdxl {
  position: absolute;
  width: 300px;
  height: 200px;
  color: #000;
  display: none;
  border: 1px solid #bcbcbc;
  background: #ececec;
  opacity: 1;
}

#huiyvan:hover {
  color: red;
}

.cdxl li {
  float: left;
  width: 50px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  cursor: pointer;
}

.cdxl li:hover {
  color: red;
}

#zhmm:hover {
  background: #ececec;
  color: red;
}

.denluye p {
  text-align: center;
}

.denimg img {
  width: 280px;
  height: 33px;
}
.denluye p {
  text-align: center;
  width: 320px;
}

.zid {
  font-size: 13px;
}

.denluhuizhu > a {
  background: #333333;
  color: #fff;
  display: inline-block;
  border-radius: 3px;
  font-size: 17px;
  text-align: center;
  width: 280px;
  margin-top: 5px;
}

.denluhuizhu > a:hover {
  background: #333333;
  color: #fff;
}

.denluerfabu > a {

  display: inline-block;
  border: 1px solid #333;
  border-radius: 3px;
  font-size: 17px;
  text-align: center;
  padding: 0 0;
  width: 280px;
}

.denlu {
  float: right;

}

.denlu > a {
  display: inline-block;
  padding: 0 10px;
  line-height: 34px;
  text-align: center;
  color: #000;
  font-size: 17px;

}

.denluye .ip input {
  width: 280px;
  border-radius: 4px;
  height: 35px;
  margin-bottom: 5px;
  text-indent: 5px;
  background: #fff;
}


.denluye a:hover {
  color: #000;
}

.denluerzi a {
  display: inline-block;
  background: red;
  border-radius: 3px;
  font-size: 17px;
  text-align: center;
  color: #fff;
  font-family: 微软雅黑;
  width: 280px;

}

.denluerzi a:hover {
  background: red;
}

.tupiandw .xwei, .dwei {

  position: absolute;
  right: 0;
}

.xwei {
  width: 40px;
}

.dwei {
  width: 84px;
}
#nav-fabu{
  background: #333;
  color: #fff;
  &:hover{
    color: red;
  }
}
.dwei {
  width: 84px;
  display: none;
}
//登陆
//logo
.nav-logo{
  margin-top: 60px;
  img{
    width: 100px;
    height: 100px;
  }
  ul{
    list-style: none;
    margin-top: 12px;
    li{
      display: inline-block;
      a{
        color: #000;
        border-left:1px solid #000;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 15px;
        &:hover{
          color: #cc0000;
        }
      }
    }
  }
  .shousuo{
  input{
    width: 250px;
    height: 36px;
    border: solid #000 1px;
    border-radius: 3px;
    padding:5px;
  }
    a{
      display: inline-block;
      background: #cc0000;
      color: black;
      padding: 7px 20px;
      border-radius: 3px;
      border: solid 1px #000;
      &:hover{
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

//.banner
@media (max-width: 660px) {
  .banner{
    display: none;
    .banner-img{
      display: none;
    }
  }
}
.banner .container{
  text-align: center;
  h2{
   a{
     color: #ff8c00;
     &:hover{
       color: #cc0000;
     }
   }
  }
  p{
    a{
      color: black;
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
      &:hover{
        color:  #ff8c00;
      }
    }
  }
}

.banner-img {
  position: relative;
  margin: 0 auto;
  height: 500px;
  width: 1140px;

}

.banner-img img {
  display: none;
  position: absolute;
  height: 500px;
  width: 1140px;
  top: 0;
  left: 0;
}

.bul {
  clear: both;
  padding: 0;
  height: 40px;
  text-align: center;
  list-style: none;
  margin: 0 auto;
  position: absolute;
  top: 470px;
  left: 487px;
}

.bul li {
  float: left;
  /*            display: inline-block;*/
  width: 20px;
  height: 20px;
  background: #000;
  margin: 0 10px 0 10px;
  border-radius: 10px;
  cursor: pointer;
}
//.main
.main{
  li{
    list-style: none;
    font-size: 16px;
    //padding-bottom: 10px;

    a{
      color: #000;
      &:hover{
        color: #cc0000;
      }
    }
  }
  h4{
    a{
      color: #000;
      &:hover{
        color: #ff8c00;
      }
    }
  }
  .main-top{
    border-bottom:solid 2px #000;
    margin-bottom: 10px;
    h3{
      display: initial;
      a{
        color: #cc0000;

      }
    }
    p{
      display: inline-block;
      margin-bottom: 3px;
      img{
        margin-left: 25px;
      }
      a{
        color: #000;
      }
    }
    span{
       float: right;
     }
  }
}
@media (max-width: 660px) {
  .main-top{
    margin-top: 15px;
  }

}
//排行榜
.spanp{
  display: inline-block;
  padding:3px 5px;
  background: #ccc;
  margin-right: 10px;
}
.spana{
  display: inline-block;
  padding:3px 5px;
  background: #cc0000;
  margin-right: 10px;
}
.flr{
  float: right;
}
//main-1选项卡
.main-2-right {
  float: right;
}
.main-2-right-top {
  margin-right: 0;
  margin-left: 7px;
  text-align: left;
  li{
    padding-left: 10px;
    padding-right: 10px;
  }
}
.li1 {
  width: 369px;
  height: 240px;
  float: left;
  padding-left: 10px;
  overflow: hidden;
  position: relative;
}
.li1 img {
  width: 369px;
  height: 240px;
}
.ali1 {
  width: 369px;
  height: 240px;
  display: block;
  padding-top: 80px;
  top: 0;
  left: 10px;
  text-align: center;
  color: #fff;
  background: #000;
  opacity: 0;
  /* display: none; */
  position: absolute;
}
.main-2-right-top li {
  width: 32.5%;
  border: 1px solid #c2c2c2;
  background: #ededed;
  padding: 0;
  text-align: center;
  line-height: 29px;
  cursor: pointer;
  display: inline-block;
}
.main-2-right-bottom0,.main-2-right-bottom1{
  display: none;
}
//main-2
.maina {
  font-size: 16px;
  background: #cc0000;
  display: inline-block;
  width: 246px;
  line-height: 36px;
  color: #000;
  text-align: center;
  margin-top: 5px;
  &:hover{
    background: #cc0000;
    color: #fff;
  }
}
.main-3-left{
  line-height: 30px;
  span{
    font-size: 20px;
    font-weight: 700;
    float: left;
    height: 45px;
    width: 100px;
    text-align: right;
  }
  .blca{
    a{
      color: black;
      font-size: 16px;
      padding-left: 2px;
      padding-right: 2px;
      &:hover{
        color: #cc0000;
      }
    }
  }
}
//表单
form{
  input{
    height: 30px;
  }
}
.main-3-right-left .xipt {
  width: 114px;
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 12px;
}

.main-3-right-left #lxipt {
  width: 135px;
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 2px;
  float: right;
  margin-right: 100px;
  font-size: 12px;
}
.main-3-left{
  p{
    margin-bottom: 21px;
  }
}
.main-3-right-left .dipt {
  width: 235px;
  height: 32px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.main-3-right-left {

  legend{
    border: none;
  }
}

.main-3-right-left select {
  color: #7a7a7a;
  font-size: 12px;
}

.main-3-right-left input {
  float: right;
}

.main-3-right-left p {
  line-height: 33px;
}

.main-3-right-left fieldset {
  padding: 8px 2px;
  border: 1px solid #fff;
  line-height: 1.5em;
}

.main-3-right-left label {
  text-align: right;
  width: 90px;
  font-size: 18px;

}

.main-3-right-left #paf {
  text-align: center;
  width: 100%;
}

.hqyzm {
  display: block;
  width: 68px;
  float: right;
  font-size: 12px;
  text-align: center;
  line-height: 22px;
  background: #c2c2c2;
  color: #000;
  margin-left: 200px;
  margin-top: -33px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.well{
  width: 100%;
}
//main-4
.main-4-left > h3 {
  font-size: 15px;
  //width: 200px;
  /*background: darkorange;*/
  border-bottom: 2px solid darkorange;
  line-height: 26px;
  margin-bottom: 2px;
  color: #000;
  margin-left: 25px;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  margin-top: 5px;

}

.main-4-left {
  width: 250px;
  float: left;
}

.main-4-left p {
  font-size: 13px;
  color: #227fc6;
  text-align: left;
  letter-spacing: 3px;
  width: 200px;
  margin-left: 25px;
}

.main-4-left > a {
  font-size: 15px;
  background: red;
  display: inline-block;
  width: 246px;
  line-height: 36px;
  color: #000;
  text-align: center;
  margin-top: 5px;
}
.main-4-left > a:hover{
  background: #cc0000;
  color: aliceblue;
}
.main-4 .main-3-left span{
  font-size: 20px;
  font-weight: 700;
  float: left;

}
//租房遮罩

.main-4-right {
  //float: left;
  margin-top: 15px;
  border: none;
  margin-right: 25px;
}

.main-4-right li {
  position: relative;
  p{
    padding: 0;
    text-align: center;
    margin-top: 5px;
  }

}

.main-4-right li .zaz {
  position: absolute;
  top: 0;
  left: 16px;
  color: #fff;
  background: #000;
  font-size: 14px;
  padding-top: 45px;
  z-index: 2;
  width: 233px;
  height: 200px;
  opacity: 0;
  text-align: center;
}

.main-4-right li p {
  text-align: center;
}

.main-4-right li img {
  width: 233px;
  height: 200px;
}
@media (max-width: 660px) {
  .row{
    margin-left: 0;
    margin-right: 0;
  }
  .main-4-right li{
    overflow: hidden;
    img{
      width:338px;
    }
  }
  .main-4-right li .zaz{
    width:100%;
    font-size: 20px;
    p{
      //width: px;
    }
  }
}
.wliu{
  width: 161px;
}
//main-4家居装修

.main-5-right-left{
  float: left;
  cursor: pointer;
  margin-right: 10px;
  overflow: hidden;
  height: 483px;
  ul{
    height: 483px;
  }
}

.main-5-right-left ul li img {
  width: 360px;
  height: 525px;
}

.main-5-right-left ul li {
  width: 360px;
  height: 97px;
  cursor: pointer;
}
.footer-top{
  background: #f5f5f5;
  padding-top: 15px;
  padding-bottom: 15px;
  h4{
    a{
      color: #000;
      &:hover{
        color: #cc0000;
      }
    }
  }
  p{
    a{
      padding:3px;
      margin-left: 2px;
      display: inline-block;
      margin-bottom: 2px;
      font-size: 16px;
      color: #000;
    }
  }
}
.footer-but{
  padding-top: 15px;
  padding-bottom: 15px;
  background: #383838;
  ul{
    text-align: center;
    li{
      display: inline-block;
      a{
        color:#fff ;
        &:hover{
          color: #cc0000;
        }
      }
    }
  }
  p{
    color: #fff;
  }
}